* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    /* debug */
    background-color: #f8f9fa;
}

nav > .container-fluid {
    background-color: white;
}


ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/*********** colors ***************/
.color-orange {
    color: #ff8f00;
}

.color-white {
    color: white;
}

.color-night {
    color: #001632;
}

.color-grey-brown {
    color: #5b5858;
}

.bg-acqua {
    background-color: #1b72e8;
}

.bg-lightgrey {
    background-color: #f7f7f7;
}
.bg-green {
    background-color: #198754;
}

.bg-orange {
    background-color: #f16450;
}

.bg-yellow {
    background-color: #ffc620;
}

.bg-red {
    background-color: red;
}

.bg-night {
    background-color: #165bba;
}

.border-grey {
    border-radius: 1px solid #d2d2d2;
}

/* css */

#right {
    top: 120%;
    left: -200px;
    right: 0 !important; 
}

#menu {
    padding-top: 100px;
}

.contenuto {
    width: calc(100vw - 100px);
}

.comandi-laterali {
    max-width: 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0b1c2f;
    flex-shrink: 0;
    overflow: hidden;
}

.margin-comandi {
    margin: 12px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 10px;
}

.nav_menu {
    margin: 100px 0;
    flex-grow: 1;
    line-height: 32px;
    flex-basis: 10px;
    overflow: auto;
    flex-basis: 200px;
}

.general_container {
    display: flex;
}

.contenuto {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    overflow: auto;
}

.resize-top {
    padding-top: 90px;
}

.box {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    width: 65px;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.round_circle {
    padding-right: 25px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    width: 23px;
    border: 1px solid #f16450;
    border-radius: 20px;
}

.re-size-txt-jumbo {
    width: 90px;
    height: 28px;
}

.re-size-txt-jumbo-boolean {
    width: 130px;
    height: 28px;
}

.table_larger {
    width: 50%;
}

.table_short{
    width: 15%;
}

.table_shorter {
    width: 5%;
}

#colonna1 {
    width: 70%;
}

#colonna2 {
    width: 55%;
}


@media all and (max-width: 990px) {
    .comandi-laterali {
        width: 50px;
    }

    #colonna1 {
        width: 98%;
    }
    
    #colonna2 {
        width: 98%;
    }

}
